.myclass {
  text-align: center;
  background-color: yellow;
  color: red;
}
#bp {
  color: blue;
  font-size: medium;
  font-style: italic;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
